<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.federico.aldia">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.SignIn">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


        </activity>

        <activity android:name=".activities.IngresoEgreso" />
        <activity android:name=".activities.PeriodosActivity"
            android:label="@string/periodos"/>
        <activity android:name=".activities.LiquidacionesActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/liquidaciones"/>
        <activity android:name=".activities.EmpleadoActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/mi_perfil"/>
        <activity android:name=".activities.CamaraActivity"
            android:parentActivityName=".activities.MainActivity"/>
    </application>

</manifest>